/* Globals */

:root {
  font-size: 20px;
  --color-background-main: #fcfcfc;
  --color-text-h: #46374f;
  --color-text-p: #7d6b87;
  --color-border: #a295a8;
}

html {
  background-color: var(--color-background-main);
  color: var(--color-text-p);
  /* font-family: "苹方", "微软雅黑", Arial, Helvetica, sans-serif; */
  font-family: "Resource Han Rounded CN", "苹方", "微软雅黑", Arial, sans-serif;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-text-h);
}

h2 {
  border-bottom: 1px silver solid;
}

a {
  text-decoration: none;
}
